#foto-principal{
  max-height: 400px;
}

.miniatura{
  height : 100px;
  border: 1px solid gray;
  margin-right: 10px;
  cursor: pointer;
}

:root{
  font-family: Inter, system-ui, Avenir, Helvetica,Arial, sans-rerif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme : light dark;
  color: rgb(255, 255, 255, 0.87);
  background-color: #cc4d4d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -web-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}